:root {
    --primary: #0074D9;
    --secondary: #2ECC40;
    --background-color:#dbefde;
    --primary_text:#02223c;
    --button:#2beb42;
    --tertiary:#00B98E;
  }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
    width: 100vw;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
ul{
    list-style: none;/
}
ul li a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
  
.nav_content{
    transform: translate(0,0);
    color: rgba(255, 255, 255, 0.853);
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.display_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex_wrap{
    flex-wrap: wrap;
    padding-left: 0%;
}
.upper_nav{
    width: 100%;
    padding: 20px;
    height: 10vh;
    background-color:rgba(0, 0, 0, 0.499); 
}
.pages{
    margin-right: 2%;
}
.pages ul li{
    display: inline-block;
    padding: 0% 1%;
    font-weight: bold;
    margin-top: -.5%;
}
.nav_content .logo img{
    width: 10%;
}
.nav_content .logo{
    margin-left: 2%;
}
.nav_content .pages ul li a button{
    background-color: var(--button);
    color: white;
    padding: 4% 3%;
    font-size: 55%;
    width: 107%;
}

.nav_content .pages li a,.pages li span,.pages li{
    font-family: 'Robot Slab';
    font-size: 100%;
    font-weight:bold;
    color:white;
    /* background: linear-gradient(to right,var(--primary),var(--secondary)); */
    /* -webkit-background-clip: text;  */
    /* -webkit-text-fill-color: transparent;  */
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    letter-spacing: 3%; 
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
}
.nav_content .pages li a:hover,.pages li span:hover,.pages li:hover{
    color: #bbb;
}



/* ---------------------------------------------------------------------front----------------------------------------------------------------------- */
.front h2{
    color: rgb(255, 255, 255);
    font-family: "Bodoni Moda";
    font-weight: bold;
    line-height: 1.2em;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    margin-bottom: 2%;
    margin-top: 1%;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.921);
}

.front h2 div{
    font-size:1.2em ;
}
.search{
    background-color: rgba(255, 255, 255,0);
    border-radius: 12px;
    padding: 1% 0 2% 0;
}
.search ul li{
    padding: 1% 0% 2% 0%;
}
.search li a{
    font-family: sans-serif;
    font-weight:bold;
    color: #f0f4f6;
    letter-spacing: 3%;
    font-size: 113%;
}
.search .searchbar{
    justify-content: center;
    padding: 1% 0%;
    margin:0% 20%;
    background-color: white;
    border-radius: 45px;
}
.search input{
    padding: 3% 20% 3% 2%;
    font-size: 100%;
    color: #333;
    width: 45vw;
    height: 4vh;
    border: none;
}
.searchbar button{
    color: white;
    background-color:var(--button);
    border: none;
    cursor: pointer;
    font-size: 125%;
    width: 7vw;
    padding: 1.5% 1%;
    border-radius:45px;
}
.search ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: .4em .5em;
    border-bottom: solid rgba(255, 255, 255, 0);
    border-radius:45px;
  }
  .search ul li a:hover::before {
    width: 100%;
  }
  .search ul li a:hover{
    border-bottom: solid var(--secondary);
    color: var(--primary_text);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:45px;
  }
  .search input:focus{
    border: none;
    outline: none;
  }

/* --------------------------------------------------------------Property Types--------------------------------------------------------------------------- */
main{
    background-color: var(--background-color);
    margin-top: -1%;
}.section{
    width: 100vw;
}
 .container{
    display: flex;
    flex-direction: column;
    background-color:white;
    justify-content: center;
    max-width: 90%;
}
.container h1{
    color: var(--primary_text);
    font-size: 3.2em;
    margin: 1% 0;
}
.mx-auto{
    margin: 0 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
}
.pd{
    padding: 2%;
}
.mt{
    margin-top: -6%;
}
.border{
    background-color: var(--background-color);
}
.dotted{
    border: 1px dotted var(--button);
    background-color: white;
    padding: 7%;
    box-shadow: 2px 2px 10px 2px var(--primary_text);
    border-radius: 20px;
}
.icon-fluid{
    padding: 6%;
    border: 2px dotted var(--button);
    border-radius: 50%;
    width: 35%;
}
.image-container{
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    padding-top: 3%;
}
.image-fluid{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    display: block;
}
.image-container .image-fluid:hover {
    transform: scale(1.2);
}
.mb-3{
    margin-bottom: 3%;
}
h6{
    color: var(--primary_text);
    font-size: 150%;
}
span{
    color: var(--tertiary);
}
iframe{
    border: 5px solid white;
    box-shadow: 2px 2px 5px 2px var(--tertiary);
}
.about-property{
    margin-top: 2%;
    background-color: var(--background-color);
    padding: 2%;
}
.about-property div{
    background-color: white;
    padding: 1% 2% 1% 1%;
}
.add{
    font-size: 110%;
}
/* -----------------------------------------------------------------------Recommended pROPERTIES------------------------------------------ */
.recommended-properties{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -5%;
}
.slide_row{
    width: 100%;
    display: none;
}
.slide_row:first-child {
    display: inline-block;
}
.recommended-properties button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.recommended-properties button i{
    font-size: 22px;
}

.recommended-properties .prev {
    left: 20px;
}

.recommended-properties .next {
    right: 20px;
}
.recommended-properties .dots {
    margin-top: 10px;
}

.recommended-properties .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 30px 5px 0px 5px;
    cursor: pointer;
}

.recommended-properties .active {
    background-color: #717171;
}
.recommended-properties .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}
.recommended-properties .col{
    width: 32%;
    padding: 0 1%;
    box-shadow: 2px 2px 10px 2px black;
}
.recommended-properties .row .desc-box{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
}
.recommended-properties .row .col .Property-name ,.price{
    font-size: 22px;
    font-weight:700 ;
    text-align: left;
    font-family: 'Open Sans';
}
.recommended-properties .row .col .desc{
    font-family: "Roboto", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    text-align: left;
    line-height: 1;
    padding: 2% 0 4% 0;
    font-weight: 400;
    color: gray;
}
.price i{
    font-size: 20px;
}

/* ----------------------------------------------------------------Owner--------------------------------------------------------------- */
.owner{
    padding-top: 1%
}
.owner .owner-head{
    font-family:'open sans';
}
.owner .owner-head h4{
    color: #948989;
    font-size: 100%;
}
.owner .owner-head h1{
    font-size: 250%;
    margin-bottom: 3%;
}
.register-image-container{
    width: 90%;
    overflow: hidden;
    position: relative;
    border-radius: 10%;
    margin-left: 5%;
}
.owner .owner-lower .register{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    display: block;
}
.owner .owner-lower .register:hover {
    transform: scale(1.1);
}
.owner .owner-lower .post-your-property {
    text-align: left;
    /* margin-left: 3%; */
}
.owner .owner-lower .post-your-property h6 ,.reviews .rev-heading h6{
    font-size: 120%;
    color: #948989;
}
.owner .owner-lower .post-your-property h3,.reviews .rev-heading h3 {
    font-size: 340%;
    margin-bottom: 2%;
}
.owner .owner-lower .post-your-property h5, .reviews .rev-heading h5{
    font-size: 140%;
    color: #948989;
    margin-bottom: 2%;
}
.owner .owner-lower .post-your-property button{
    background-color: var(--tertiary);
    color: white;
    padding: 3%;
    border: none;
    font-size: 100%;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}
.owner .owner-lower .post-your-property button:hover ,footer .mail input[type="submit"]:hover{
    background-color:#029270;
    color: #ddd;
}

/* ---------------------------------------------Reviews------------------------------------------------------------- */
.reviews .rev-heading{
    margin: 1% 0% 1% 4%;
    width: 50vw;
}
.reviews .slider {
    width: 100%;
    overflow: hidden;
  }
.reviews  .slider-container {
    display: flex;
    transition: transform 0.5s ease;
  }

.reviews  .review-card {
    flex: 0 0 auto;
    background-color:var(--background-color);
    box-shadow: 0 4px 8px rgba(249, 173, 173, 0.1);
    margin: 2%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 5px black;
  }
  .reviews .review-card:hover{
    background-color: #8eba95;
  }
.reviews .review-card .review-img img{
    width: 60%;
    border-radius: 50%;
  }
  .reviews .rev-person{
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0%;
  }
  .reviews .rev-person h4{
    font-size: 200%;
    line-height: 1.3em;
  }
  .reviews .rev-person h6{
    font-size: 100%;
    /* margin-bottom: 8%; */
  }
  .reviews .review-card .review-para{
    text-align: left;
    margin-left: 5%;
    font-size: 110%;
  }
  .reviews button {
    position: absolute;
    /* top: 50%; */
    transform: translateY(-650%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.reviews button i{
    font-size: 22px;
}

.reviews .prev {
    left: 20px;
}

.reviews .next {
    right: 20px;
}
div.reviews.container{
    border-radius: 0 0 40px 40px;
}
/* ---------------------------------------------------------------  Upper Footer------------------------------------------------------------------------------- */
footer{
    /* background-color: var(--tertiary); */
    background: linear-gradient(to bottom,var(--background-color), var(--tertiary));
}
.upper_footer{
    display: flex;
    padding-top: 4%;
    font-family: cursive;
}
.upper_footer .get-in-touch{
    /* margin: 0% 0 0 5%; */
    padding-left: 5%;
}

.get-in-touch h4{
    /* font-family: cursive; */
    padding-bottom: 2%;
    font-size: 209%;
}
.get-in-touch p{
    font-size: 111%;
    font-weight: bold;
    /* font-family:'sans-serif'; */
}
.upper_footer .mediums{
    line-height: 2.5em;
}
.upper_footer .medium{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.upper_footer .get-in-touch i{
    font-size: 150%;
    margin-right: 1%;
    padding: 1%;
    border-radius: 50%;
}
.upper_footer .medium p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* font-family:'sans-serif'; */
}
.upper_footer .mail{
    padding:  0 5%;
    /* border-left: 8px double var(--tertiary); */
}
.mail h4 {
    padding-bottom: 2%;
    font-size: 210%;
    /* font-family: cursive; */
}
.upper_footer .mail label{
    font-size: 120%;
    font-weight: bold;
    /* padding: 5% 0; */
}
.upper_footer .mail input[type="text"],.upper_footer .mail input[type="email"] {
    width: 100%;
    height: 6vh;
    /* margin-top: .5%; */
}
.upper_footer .mail input ,.upper_footer .mail textarea{
    /* background:none; */
    border: none;
    /* border-bottom: 2px solid #000; */
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 1%;
    border-radius: 10px;
    margin-top: .5%;
}
.upper_footer .mail textarea{
    width: 100%;
    height: 15vh;
}
.upper_footer .mail input[type="submit"]{
    padding: 1%;
    color: white;
    background-color: var(--tertiary);
    font-size: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    cursor: pointer;
}
.mail_header{
    width: 100%;
}
.mail .feild{
    width: 48%;
    /* margin-right: -12%; */
}


/* -----------------------------------------------------------media query------------------------------------------------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .upper_nav{
        height: 6vh;
        padding: 0 20px;
    }
    .nav_content .logo {
        margin-right: -75%;
    }
    header nav .nav_content .upper_nav .pages{
        width: 168%;
    }
    .nav_content .pages li a, .pages li span, .pages li {
        font-size: 71%;
    }
    .front h2{
        margin: 37% 0% 10% 0%;
        font-size: 205%;
        line-height: 121%;
    }
    .search{
        margin: 2% 6%;
    }
      .search .searchbar{
        flex-direction: column;
        margin: 0;
        padding: 1% 6%;
        border-radius: 12px;
      }
      .searchbar input{
        width: 100%;
        padding: 0% 2%;
        font-size: 92%;
        border-radius: 5px;
        margin: 1% 0% 4% 0%;
        box-shadow: 2px 2px 5px 2px rgba(39, 231, 13, 0.942);
      }
      .searchbar button{
        width: 75%;
        font-size: 100%;
        margin-bottom: 1%
      }
      .front .search .types{
        margin: 12% -1%;
      }
      .search li a{
        font-size:68%;
    }
    .row .border .dotted .mb-3{
        font-size: 133%;
    }
    iframe{
        width: 302.7px;
        height: 170.1px;
    }
    .recommended-properties .property-heading h1{
        font-size: 260%;
    }
    .image-container {
        height: 142px;
    }
    .recommended-properties .row .col .Property-name, .price {
        font-size: 13px;
    }
    .recommended-properties .row .col .desc {
        font-size: 10px;;
    }
    .price i {
        font-size: 11px;
    }
    .owner .owner-head h1 {
        font-size: 159%;
        margin: 5%;
    }
    .owner .owner-lower .post-your-property {
        text-align: center;
        padding-top: 6%;
    }
    .owner .owner-lower .post-your-property h3{
        font-size: 215%;
        margin: 6% 0%;
    }
    .owner .owner-lower .post-your-property h5, .reviews .rev-heading h5 {
        font-size: 96%;
        margin-bottom: 5%;
    }
    .reviews .rev-heading h3 {
        font-size: 200%;
        margin: 4% 0%;
    }
    .reviews .review-card .review-img img {
        width: 80%;
    }
    .reviews .rev-heading {
        width: 80vw;
    }
    .reviews .rev-person h4 {
        font-size: 197%;
    }
    .upper_footer .get-in-touch i {
        font-size: 140%;
    }
    .upper_footer .get-in-touch {
        padding-bottom: 7%;
    }
    .get-in-touch h4 ,.mail h4{
        font-size: 218%; 
    }  
    .get-in-touch p,.upper_footer .mail label{
        font-size: 112%;
    } 
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    .upper_nav{
        height: 8vh;
    }
    .pages{
        width: 150%;
        margin-right: 10%;
    }
    .nav_content .pages li a, .pages li span, .pages li {
        font-size: 85%;
    }
    .front h2{
        padding-top: 12%;
        font-size: 293%;
        line-height: 144%;
        margin-bottom: 6%;
    }
    .pages h2 div{
        font-size: 130%;
    }
    .search{
        margin: 0% 20%;
    }
    .search .searchbar{
        margin: 0% -17%;
        padding: 2.5% 2%;
    }
    .front .search input{
        width: 58vw;
    } 
    .search input,.searchbar button {
        font-size: 100%;
        width: 58vw;
    }
    .searchbar button{
        width: 18vw;
    }
    .front .search .types{
        margin: 5% -16%;
    }
    .search li a{
        font-size: 110%;
    } 
    iframe{
        width: 504px;
        height: 283.5px;
    }
    .image-container {
        height: 142px;
    }
    .recommended-properties .row .col .Property-name, .price {
        font-size: 13px;
    }
    .recommended-properties .row .col .desc {
        font-size: 10px;;
    }
    .price i {
        font-size: 11px;
    }
    .owner .owner-lower .post-your-property {
        text-align: center;
        padding-top: 6%;
    }
    .owner .owner-lower .post-your-property h3{
        font-size: 280%;
        margin: 3% 0%;
    }
    .owner .owner-lower .post-your-property h5, .reviews .rev-heading h5 {
        font-size: 96%;
        margin-bottom: 5%;
    }
    .reviews .rev-heading h3 {
        font-size: 200%;
        margin: 4% 0%;
    }
    .reviews .review-card .review-img img {
        width: 80%;
    }
    .reviews .rev-heading {
        width: 65vw;
    }
    .upper_footer .get-in-touch i {
        font-size: 140%;
    }
    .get-in-touch h4 ,.mail h4{
        font-size: 175%; 
    }  
    .get-in-touch p,.upper_footer .mail label{
        font-size: 100%;
    } 
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .pages{
        width: 105%;
    }
    .nav_content .pages li a, .pages li span, .pages li {
        font-size: 100%;
    }
    .front h2{
        padding-top: 15%;
        font-size: 310%;
        line-height: 144%;
        margin-bottom: 0%;
    }
    .pages h2 div{
        font-size: 130%;
    }
    .search{
        margin: 0% 20%;
    }
    .search .searchbar{
        margin: 0% 0%;
        padding: 2.5% 2%;
    }
    .front .search input{
        width: 58vw;
    } 
    .search input,.searchbar button {
        font-size: 100%;
        width: 58vw;
    }
    .searchbar button{
        width: 18vw;
    }
    .front .search .types{
        margin: 2% 3%;
    }
    .search li a{
        font-size: 100%;
    } 
    .recommended-properties .row .col .Property-name, .price {
        font-size: 18px;
    }
    .recommended-properties .row .col .desc {
        font-size: 11px;;
    }
    .price i {
        font-size: 16px;
    }
    iframe{
        width: 504px;
        height: 283.5px;
    }
    .owner .owner-lower .post-your-property h3, .reviews .rev-heading h3 {
        font-size: 220%;
        margin: 3% 0%;
    }
    .owner .owner-lower .post-your-property h5, .reviews .rev-heading h5 {
        font-size: 96%;
        margin-bottom: 5%;
    }
    .reviews .review-card .review-img img {
        width: 80%;
    }
    .reviews .rev-heading {
        width: 65vw;
    }
    .upper_footer .get-in-touch i {
        font-size: 100%;
    }
    .get-in-touch h4 ,.mail h4{
        font-size: 133%; 
    }  
    .get-in-touch p,.upper_footer .mail label{
        font-size: 70%;
    } 
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .pages{
        width: 227%;
    }
    .front h2{
        padding-top: 10%;
        font-size: 4em;
        margin-bottom: 0%;
    }
    .search li a{
        font-size: 94%;
    }
    .front .search input{
        width: 58vw;
    }
    .search input,.searchbar button {
        font-size: 78%;
    }
    .nav_content .pages li a, .pages li span, .pages li {
        font-size: 132%;
    }
    .search{
        margin: 0% 20%;
    }
    .search .searchbar{
        margin: 0% 18%;
        padding: 1.5% 2%;
    }
    .front .search .types{
        margin: 1% 14%;
    }
    .recommended-properties .row .col .Property-name, .price {
        font-size: 25px;
    }
    .recommended-properties .row .col .desc {
        font-size: 15px;;
    }
    .price i {
        font-size: 20px;
    }
    iframe{
        width: 268.8px;
        height: 151.2px;
    }
    .recommended-properties .image-container{
        height: 250px;
        width: 100%;
    }
    .owner .owner-lower .post-your-property h3, .reviews .rev-heading h3 {
        font-size: 300%;
    }
    .owner .owner-lower .post-your-property h5, .reviews .rev-heading h5 {
        font-size: 115%;
    }
    .reviews .rev-heading {
        width: 65vw;
    }
    .get-in-touch h4 ,.mail h4{
        font-size: 172%; 
    }  
    .get-in-touch p,.upper_footer .mail label{
        font-size: 90%;
    } 
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .pages{
        width: 80%;
    }
    .front h2{
        padding-top: 5%;
        font-size: 5em;
        margin-bottom: 0%;
    }
    .search li a{
        font-size: 114%;
    }
    .front .search input{
        width: 58vw;
    }
    .search input,.searchbar button {
        font-size: 100%;
    }
    .nav_content .pages li a, .pages li span, .pages li {
        font-size: 132%;
    }
    .search{
        margin: 0% 20%;
    }
    .search .searchbar{
        margin: 0% 18%;
        padding: 1.5% 2%;
    }
    .front .search .types{
        margin: 1% 14%;
    }
    .recommended-properties .row .col .Property-name, .price {
        font-size: 30px;
    }
    .recommended-properties .row .col .desc {
        font-size: 18px;;
    }
    .price i {
        font-size: 22px;
    }
    iframe{
        width :334.8px;
        height :182.7px;
    }
    .get-in-touch h4 ,.mail h4{
        font-size: 208%; 
    }  
    .get-in-touch p,.upper_footer .mail label{
        font-size: 110%;
    } 
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
    
}



