
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.pages ul > li:last-child {
    display: none;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,#274654,#01634c);
}
main{
    display: flex;
    flex-direction: column;
    background-color:white;
    justify-content: center;
    max-width: 85%;
    max-height: 90%;
    border-radius: 45px;
    margin: 0 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 2%;
}
.upper{
    width: 65vw;
    justify-content: center;
    margin: 0 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}
.upper h6{
    color: #948989;
    font-size: 90%;
    TEXT-ALIGN: center;
}
.upper h3{
    text-align: center;
    font-size: 200%;
    margin-bottom: 3%;
}
.lower{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* padding: 5% 0; */
}
.lower .left{
    /* width: 40%; */
    overflow: hidden;
    position: relative;
    border-radius: 10%;
    padding-left: 5%;
}
.lower .left img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    display: block;
}
.lower .left img:hover {
    transform: scale(1.1);
}
.lower .right {
    align-items: left;
    /* width: 55%; */
    padding-left: 3%;
}
.lower .right label{
    font-size: 120%;
    font-weight: bold;
    text-align: left;
}
.lower .right input{
    width: 95%;
    height: 4vh;
    background-color:lightgray;
    border: none;
    border-radius: 45px;
    padding: 0 4%;
}
.media-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1%;
    width: 95%;
    /* align-items: center; */
}
.lower .right input[type="file"] {
    background-color: white;
    border: none;
    border-radius: 0%;
    color: black;
    padding: .5% 0 0 1%;
    font-size: 100%;
  }
.lower .right input[type="submit"] {
    background-color: #4CCD99;
    color: white;
    width: 50%;
    margin-top: 2%;
    font-size: 120%;
  }

  
  /* --------------------------------------------media query--------------------------------------------------------------------- */

  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .upper_nav{
        height: 6vh;
        padding: 0 20px;
    }
    .pages ul li {
        display: inline-block;
        margin-right: -9px;
    }
    .pages{
        width: 150%;
    }
    .pages li a, .pages li span, .pages li {
        font-size: 80%;
    }
    header{
        margin: 2%;
    }
    main {
        max-height: fit-content;
        margin-bottom: 5%;
        border-radius: 45px 45px 0 0;
    }
    body{
        padding-bottom: 5%;
    }
    .upper h3 {
        font-size: 125%;
    }
    .lower .left {
        margin-bottom: 5%;
    }
    
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-12 {width: 100%;}
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    header{
        margin: 2%;
    }
    .upper_nav{
        height: 8vh;
    }
    .pages{
        width: 130%;
    }
    .pages li a, .pages li span, .pages li {
        font-size: 85%;
    }
    main {
        max-height: fit-content;
        margin-bottom: 5%;
        border-radius: 45px 45px 0 0;
    }
    .upper h3 {
        font-size: 188%;
    }
    .lower .left {
        margin-bottom: 5%;
    }
    
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-12 {width: 100%;}
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-12 {width: 100%;}
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-12 {width: 100%;}
    
}